/*
File: base styles
Contents:
1. Global Styles
2. Headings
3. Subheadings

***************************************
*/





/*
******************************************
** 1. Global Styles
******************************************
*/
body{
  font-size: 10px;
}







/*
******************************************
** 2. Headings
******************************************
*/
h1, .h1{
  font-family: $WhitneyBook;
  font-size: 8em;
  line-height: 0.95em;
  color: #510B76;
}