$WhitneyBook: "WhitneyBook", serif;
$WhitneyBookItalic: "WhitneyBookItalic", serif;
$WhitneyMedium: "WhitneyMedium", serif;
$WhitneyMediumItalic: "WhitneyMediumItalic", serif;
$WhitneySemiBold: "WhitneySemiBold", serif;


@font-face {
  font-family: 'WhitneyBook';
  src: url('../fonts/WhitneyBook.eot');
  src: url('../fonts/WhitneyBook.eot') format('embedded-opentype'),
  url('../fonts/WhitneyBook.woff2') format('woff2'),
  url('../fonts/WhitneyBook.woff') format('woff'),
  url('../fonts/WhitneyBook.ttf') format('truetype'),
  url('../fonts/WhitneyBook.svg#WhitneyBook') format('svg');
}


@font-face {
  font-family: 'WhitneyBookItalic';
  src: url('../fonts/WhitneyBookItalic.eot');
  src: url('../fonts/WhitneyBookItalic.eot') format('embedded-opentype'),
  url('../fonts/WhitneyBookItalic.woff2') format('woff2'),
  url('../fonts/WhitneyBookItalic.woff') format('woff'),
  url('../fonts/WhitneyBookItalic.ttf') format('truetype'),
  url('../fonts/WhitneyBookItalic.svg#WhitneyBookItalic') format('svg');
}


@font-face {
  font-family: 'WhitneyMedium';
  src: url('../fonts/WhitneyMedium.eot');
  src: url('../fonts/WhitneyMedium.eot') format('embedded-opentype'),
  url('../fonts/WhitneyMedium.woff2') format('woff2'),
  url('../fonts/WhitneyMedium.woff') format('woff'),
  url('../fonts/WhitneyMedium.ttf') format('truetype'),
  url('../fonts/WhitneyMedium.svg#WhitneyMedium') format('svg');
}


@font-face {
  font-family: 'WhitneyMediumItalic';
  src: url('../fonts/WhitneyMediumItalic.eot');
  src: url('../fonts/WhitneyMediumItalic.eot') format('embedded-opentype'),
  url('../fonts/WhitneyMediumItalic.woff2') format('woff2'),
  url('../fonts/WhitneyMediumItalic.woff') format('woff'),
  url('../fonts/WhitneyMediumItalic.ttf') format('truetype'),
  url('../fonts/WhitneyMediumItalic.svg#WhitneyMediumItalic') format('svg');
}

@font-face {
  font-family: 'WhitneySemiBold';
  src: url('../fonts/WhitneySemiBold.eot');
  src: url('../fonts/WhitneySemiBold.eot') format('embedded-opentype'),
  url('../fonts/WhitneySemiBold.woff2') format('woff2'),
  url('../fonts/WhitneySemiBold.woff') format('woff'),
  url('../fonts/WhitneySemiBold.ttf') format('truetype'),
  url('../fonts/WhitneySemiBold.svg#WhitneySemiBold') format('svg');
}
