/*
*****************************
**** NAVIGATION
*****************************
*/

nav.__navigation, .__navigation{
  border-bottom: 1px solid #DFDFDF;
  background-color: #fff;
  height: 100px;
  position: relative;

  &.__cloned{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  /*
  ************************
  *** Brand Logo
  ************************
  */
  .brand-logo{
    float: left;
    margin: 10px 0;
    height: 80px;

    img{
      height: 80px;
    }
  }



  /*
  ************************
  *** NAVIGATION BUTTONS
  ************************
  */
  .navigation-buttons{
    float: right;
    margin: 30px 0;

    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        float: left;
        margin-left: 30px;
        height: 40px;
        font-size: 10px;

        &.nav-divider{
          height: 50px;
          margin: -5px 0px -5px 30px;
          width: 1px;
          background-color: #DFDFDF;
        }

        i{
          vertical-align: middle;
        }

        a{
          text-decoration: none;
        }

        .button{
          width: 150px;
        }

        .search-button{
          font-size: 2.8em;
          line-height: 40px;
          color: #868686;

          @include mq('mobile'){
            font-size: 2.3em;
          }
        }

        .menu-button{
          font-family: $WhitneyMedium;
          font-size: 1.3em;
          color: #868686;
          letter-spacing: 0;
          line-height: 40px;

          .nav-icon{
            color: #868686;

            i{
              font-size: 1.6em;
              @include mq('mobile'){
                font-size: 1.4em;
              }
            }

            &.__close-icon{
              i{
                font-size: 2em;
              }
            }
          }

          .menu-button-text.__text-open{
            margin-left: 8px;
            letter-spacing: 0.05em;

            @include mq('small'){
              display: none;
              margin-left: 0;
            }
          }
        }
      }
    }


    @include mq('small'){
      margin: 14px 0;
    }
  }






  &.__sticky{
    height: 80px;

    .brand-logo{
      height: 60px;
      img{
        height: 60px;
      }
    }

    .navigation-buttons{
      margin: 20px 0;

      @include mq('small'){
        margin: 14px 0;
      }
    }

  }


  /*
  *************************
   Media queries
  *************************
  */
  @include mq('small'){
    height: 68px;

    .brand-logo{
      margin: 8px 0;
      height: 52px;
      img{
        height: 52px;
      }
    }

    &.__sticky{
      height: 68px;

      .brand-logo{
        margin: 8px 0;
        height: 52px;
        img{
          height: 52px;
        }
      }
    }
  }


  /*
  *************************
   Search bar
  *************************
  */

  .__search--bar{
    background-color: #F5F3F0;
    border-bottom: 1px solid #DFDFDF;

    height: 80px;
    @include mq('small'){
      height: 60px;
    }

    .container{
      position: relative;

      input[type="text"]{
        position: relative;
        display: block;
        width: 100%;
        padding-right: 40px;
        border: none;
        outline: none;
        background-color: transparent;
        font-family: $WhitneyMediumItalic;
        font-size: $font-size;
        font-size: 2.6em;
        color: #b7b7b7;
        height: 80px;
        line-height: 80px;
        @include mq('small'){
          height: 60px;
          line-height: 60px;
          font-size: 2.3em;
        }

        @include mq('mobile'){
          font-size: 2em;
        }
      }

      button[type="submit"], input[type="submit"]{
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -17px;
        width: 32px;
        height: 35px;
        border: none;
        background: none;
        color: #B7B7B7;

        @include mq('small'){
          width: 22px;
          height: 23px;
          margin-top: -11px;
        }
      }

    }
  }



}



.__js-search--open{
  a.search-button, .search-button{
    color: #510B76 !important;
  }
}





/*
*****************************************
**** NAVIGATION DRAWER
*****************************************
*/
.drawer-arcade-style{
  border-left: 1px solid #DFDFDF;
  background-color: #fff;
  width: 100%;
  max-width: 320px;

  @include mq('x-mobile'){
    max-width: 100%;
  }

  .__navigation, .__drawer-navigation{
    border: none;
    padding: 0 25px 0 40px;

    &.__cloned{
      right: 0;
      width: 320px;
      left: auto;
      z-index: 10;
      @include mq('x-mobile'){
        width: 100%;
      }
    }
  }

  .__drawer-navigation{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      a{
        font-size: $font-size;
      }
    }

    > ul{
      padding-top: 2px;
      > li{
        padding: 20px 0;
        > a{
          font-family: $WhitneySemiBold;
          font-size: 1.6em;
          color: #666666;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          line-height: 0.8em;
          vertical-align: middle;
          display: block;
          text-decoration: none;
        }

        > ul{
          padding-top: 0px;
          max-height: 0;
          overflow: hidden;
          opacity: 0;

          > li{
            > a{
              display: block;
              padding: 15px 0;
              font-family: $WhitneyBookItalic;
              font-size: 1.6em;
              color: #666666;
              line-height: 0.8em;
              vertical-align: middle;
            }

            &:last-child{
              > a{
                padding-bottom: 0px;
              }
            }
          }
        }

        &.__is-expanded{
          > ul{
            max-height: 1000px;
            padding-top: 5px;
            opacity: 1;
            overflow: inherit;
            -webkit-transition: opacity 0.3s, maxHeight 0.3s;
            -moz-transition: opacity 0.3s, maxHeight 0.3s;
            -ms-transition: opacity 0.3s, maxHeight 0.3s;
            -o-transition: opacity 0.3s, maxHeight 0.3s;
            transition: opacity 0.3s, maxHeight 0.3s;
          }
        }
      }
    }



    select.form-control{
      width: 108px;
      font-family: $WhitneyBook;
      font-size: 10px;
      font-size: 1.6em;
      color: #666666;
      border: 1px solid #858585;
      height: 35px;
      line-height: 35px;
      border-radius: 0;
    }


    /*
     SELECT UI
    */
    .select2-container--default .select2-selection--single {
      background-color: #fff;
      border: 1px solid #858585;
      border-radius: 0;
    }

    .select2-container .select2-selection--single {
      height: 35px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-family: $WhitneyBook;
      color: #666;
      line-height: 33px;
      font-size: $font-size;
      font-size: 1.6em;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 10px;
      padding-right: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 31px;
      position: absolute;
      top: 1px;
      right: 10px;
      width: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b{
      border: none;

      font-family: 'AS-icon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #666666;
      font-size: $font-size;
      font-size: 0.6em;
      &:before{
        content: "\e606";
      }
    }

  }
}

.drawer-right .drawer-main{
  @include mq('x-mobile'){
    right: -100%;
  }
}

.drawer-overlay-upper{
  background-color: #fff;
  opacity: 0.3;
}
