/*
*****************************
**** NAVIGATION
*****************************
*/

nav.__navigation, .__navigation{
  border-bottom: 1px solid #DFDFDF;
  background-color: #fff;
  height: 100px;
  position: relative;

  /*
  ************************
  *** Brand Logo
  ************************
  */
  .brand-logo{
    float: left;
    margin: 10px 0;
    height: 80px;

    img{
      height: 80px;
    }
  }



  /*
  ************************
  *** NAVIGATION BUTTONS
  ************************
  */
  .navigation-buttons{
    float: right;
    margin: 30px 0;

    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        float: left;
        margin-left: 30px;
        height: 40px;
        font-size: 10px;

        &.nav-divider{
          height: 50px;
          margin: -5px 0px -5px 30px;
          width: 1px;
          background-color: #DFDFDF;
        }

        i{
          vertical-align: middle;
        }

        a{
          text-decoration: none;
        }

        .button{
          width: 150px;
        }

        .search-button{
          font-size: 2.8em;
          line-height: 40px;

          @include mq('mobile'){
            font-size: 2.3em;
          }
        }

        .menu-button{
          font-family: $WhitneyMedium;
          font-size: 1.3em;
          color: #868686;
          letter-spacing: 0;
          line-height: 40px;

          .nav-icon{
            color: #868686;

            i{
              font-size: 1.6em;
              @include mq('mobile'){
                font-size: 1.4em;
              }
            }

            &.__close-icon{
              i{
                font-size: 2em;
              }
            }
          }

          .menu-button-text.__text-open{
            margin-left: 8px;
            letter-spacing: 0.05em;

            @include mq('small'){
              display: none;
              margin-left: 0;
            }
          }
        }
      }
    }


    @include mq('small'){
      margin: 14px 0;
    }
  }






  &.__sticky{
    height: 80px;

    .brand-logo{
      height: 60px;
      img{
        height: 60px;
      }
    }

    .navigation-buttons{
      margin: 20px 0;

      @include mq('small'){
        margin: 14px 0;
      }
    }

  }


  /*
  *************************
   Media queries
  *************************
  */
  @include mq('small'){
    height: 68px;

    .brand-logo{
      margin: 8px 0;
      height: 52px;
      img{
        height: 52px;
      }
    }

    &.__sticky{
      height: 68px;

      .brand-logo{
        margin: 8px 0;
        height: 52px;
        img{
          height: 52px;
        }
      }
    }
  }
}





/*
*****************************************
**** NAVIGATION DRAWER
*****************************************
*/
.drawer-arcade-style{
  border-left: 1px solid #DFDFDF;
  background-color: #fff;
  width: 100%;
  max-width: 320px;

  @include mq('x-mobile'){
    max-width: 100%;
  }

  .__navigation, .__drawer-navigation{
    border: none;
    padding: 0 25px 0 35px;
  }

  .__drawer-navigation{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      a{
        font-size: $font-size;
      }
    }

    > ul{
      padding-top: 2px;
      > li{
        padding: 20px 0;
        > a{
          font-family: $WhitneySemiBold;
          font-size: 1.6em;
          color: #666666;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          line-height: 0.8em;
          vertical-align: middle;
          display: block;
          text-decoration: none;
        }

        > ul{
          padding-top: 5px;
          > li{
            > a{
              display: block;
              padding: 15px 0;
              font-family: $WhitneyBookItalic;
              font-size: 1.6em;
              color: #666666;
              line-height: 0.8em;
              vertical-align: middle;
            }

            &:last-child{
              > a{
                padding-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}

.drawer-right .drawer-main{
  @include mq('x-mobile'){
    right: -100%;
  }
}

.drawer-overlay-upper{
  background-color: #fff;
  opacity: 0.3;
}

