/*
******************************************
****** SLIDERS
******************************************
*/



/*
MAIN SLIDER
*/
.__main--slider{

  height: 530px;
  overflow: hidden;

  .__slide-item{
    background: #f2f2f2 0 50% no-repeat;
    height: 530px;

    @include mq('large'){
      background-position: top right;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

}


/*
FEATURED CATEGORIES
*/
.__featured--categories{

  .divider__limited{
    max-width: 1200px;
    margin: 0 auto 50px;

    @include mq('mobile'){
      margin-bottom: 14px;
    }
  }

  .container{
    &.__limited--width{
      padding-top: 60px;
      padding-bottom: 75px;
      max-width: 1171px;

      @include mq('mobile'){
        padding-top: 20px;
        padding-bottom: 35px;
      }
    }
  }

  .__feature--single{
    float: left;
    padding-left: 17.5px;
    padding-right: 17.5px;
    width: 16.66%;
    text-align: center;

    @include mq('small'){
      padding-left: 10px;
      padding-right: 10px;
    }

    @include mq('mobile'){
      width: 33.33%;
      padding-left: 3px;
      padding-right: 3px;

      &.__first--row{
        margin-bottom: 22px;
      }
    }





    .__feature--image{
      img{
        width: 100%;
      }
    }

    .__feature--text{
      margin-top: 21px;

      @include mq('small'){
        margin-top: 11px;
      }
      @include mq('mobile'){
        margin-top: 6px;
      }

    }

  }
}




/*
FIND A SOLUTION
*/
.__find--solution{
  text-align: center;
  padding-bottom: 67px;


  .__find--solution--columns{
    letter-spacing: 0;
    font-size: 0;
    margin-top: 70px;

    @include mq('mobile'){
      margin-left: 7px;
      margin-right: 7px;
      margin-top: 30px;
    }

    .__find--solution--column-single{
      letter-spacing: inherit;
      width: 275px;
      display: inline-block;
      font-size: $font-size;

      @include mq('mobile'){
        width: 100%;
        display: block;
      }

      &.__middle{
        padding: 0 60px;
        width: auto;

        @include mq('mobile'){
          padding-top: 24px;
          padding-bottom: 20px;
        }
      }

      a.button.__block-level{
        width: 100%;
        display: block;
      }

      .__form--input{
        .__form--input--icon{
          i, & {
            font-size: 1.57em;
          }
        }

        input[type="text"], input[type="password"], input[type="email"]{
          width: 100%;
        }
      }

    }
  }


  .divider{
    max-width: 200px;
    margin: 50px auto 30px;

    @include mq('mobile'){
      max-width: 100%;
    }
  }


  .__popular-searches-suggest{
    h3, ul{
      display: inline-block;
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        a{
          @extend .__link2;
          padding: 0 10px;
        }
      }
    }
  }

}






/*
FEATURED PRODUCTS
*/
.__featured--products{
  background-color: #F5F3F0;
  padding: 53px 0 80px;


  @include mq('mobile'){
    padding-bottom: 50px;
  }

  @include mq('large-standard'){
    .container {
      width: 1254px;
    }
  }

  .divider{
    max-width: 200px;
    margin: 80px auto;

    @include mq('mobile'){
      margin: 45px auto;
    }
  }


  .__featured--single{


    @include mq('xx-mobile-min'){
      [class*="col-"]{
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    @include mq('small-min'){
      [class*="col-"]{
        padding-left: 60px;
        padding-right: 60px;
      }
    }


    @include mq('mobile'){
      text-align: center;
    }

    .__featured--image{
      max-width: 100%;
    }

    .__feature--link{
      margin-top: 8px;
    }



    &.__feature--image-left{
      .__feature--text-wrapper{
        @include mq('medium-min'){
          padding-left: 20px;
        }
      }
    }

    &.__feature--image-right{
      .__feature--text-wrapper{
        @include mq('medium-min'){
          padding-right: 20px;
        }
      }
    }



  }

}




/*
CUSTOMIZED SOLUTION
*/
.__customize--solution{
  padding: 32px 0 60px;

  @include mq('mobile'){
    padding: 58px 0 76px;
  }

  @include mq('x-mobile'){
    padding: 43px 0 76px;
  }

  .container{
    text-align: center;


    .__customize--solution--text{
      padding: 8px 0 13px;
      margin: 0 auto;
      max-width: 790px;

      @include mq('mobile'){
        padding: 4px 0 9px;
      }
    }

    .__cta--button{
      .button{
        width: 210px;
      }
    }

  }
}