/*
******************************************
****** SLIDERS
******************************************
*/



/*
MAIN SLIDER
*/
.__main--slider{

  $slider-height: 530px;

  height: $slider-height;
  overflow: hidden;

  $arrow-size: 60px;

  @include mq('small'){
    height: $slider-height - 80;
  }

  @include mq('mobile'){
    height: $slider-height - 175;
  }



  .__slide-item{
    background: #f2f2f2 center top no-repeat;
    height: $slider-height;

    -webkit-background-size: cover;
    background-size: cover;

    @include mq('large-standard-down'){
      -webkit-background-size: inherit;
      background-size: inherit;
    }

    @include mq('small'){
      height: $slider-height - 80;
    }

    @include mq('mobile'){
      height: $slider-height - 175;
    }



    @include mq('mobile'){
      background-image: none !important;
      text-align: center;
    }


    .container{
      height: 100%;

      @include mq('medium-min'){
        position: relative;
      }

      @include mq('large-standard'){
        width: 100%;
        max-width: 1400px;
      }

      .__slider--arrow{
        position: absolute;
        width: $arrow-size;
        height: $arrow-size;
        margin-top: - $arrow-size/2;
        top: 50%;
        border: 1px solid #c7c7c7;
        color: #510B76;
        text-decoration: none;
        left: -13px;

        @include mq('small'){
          left: 0;
        }

        @include mq('mobile'){
          width: $arrow-size/2;
          height: $arrow-size/2;
          margin-top: - $arrow-size/4;
        }

        &.__slider--arrow-right{
          right: -13px;
          left: auto;

          @include mq('small'){
            right: 0;
          }
        }


        .__arrow--overlay{
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: #fff;
          opacity: 0.4;
          z-index: 1;
          left: 0;
        }

        .__arrow--icon{
          position: relative;
          display: block;
          z-index: 2;
          text-align: center;
          font-size: $font-size;
          line-height: $arrow-size - 4;

          @include mq('mobile'){
            line-height: $arrow-size/2 - 4;
          }

          i{
            font-size: 3.6em;
            vertical-align: middle;

            @include mq('mobile'){
              font-size: 2.3em;
            }
          }
        }

      }


      .__slider--content{
        margin: 0 120px;

        -webkit-transition: padding 0.2s;
        -moz-transition: padding 0.2s;
        -ms-transition: padding 0.2s;
        -o-transition: padding 0.2s;
        transition: padding 0.2s;

        @include mq('small'){
          margin: 0 92px;
        }

        @include mq('mobile-max'){
          margin: 0 60px;
        }

        @include mq('mobile'){
          margin: 0 23px;
          padding-top: 26px;
        }



        .__slider--content-wrapper{
          width: 50%;

          h1, .h1{
            margin-top: 0;
          }





          @include mq('mobile'){
            width: 100%;
          }

          .__cta-buttons{
            margin-top: 13px;

            @include mq('small'){
              width: 120%;
            }

            @include mq('mobile'){
              width: auto;
              margin: 0 -23px;
            }


            a, a.button{
              width: 150px;
              margin-right: 27px;

              @include mq('medium'){
                margin-right: 17px;
              }

              @include mq('small'){
                margin-right: 7px;
              }

              @media screen and (max-width: 800px){
                width: 138px;
              }

              @include mq('mobile'){
                margin-right: 22px;
              }

              @include mq('x-mobile'){
                margin-right: 17px;
              }

              @include mq('xx-mobile'){
                margin-right: 7px;
                width: 120px;
              }





              &:last-child{
                margin-right: 0;
              }

            }
          }

        }
      }

    }

  }

}


/*
FEATURED CATEGORIES
*/
.__featured--categories{

  .divider__limited{
    max-width: 1200px;
    margin: 0 auto 50px;

    @include mq('mobile'){
      margin-bottom: 14px;
    }
  }

  .container{
    &.__limited--width{
      padding-top: 60px;
      padding-bottom: 75px;
      max-width: 1171px;

      @include mq('mobile'){
        padding-top: 20px;
        padding-bottom: 35px;
      }
    }
  }

  .__feature--single{
    float: left;
    padding-left: 17.5px;
    padding-right: 17.5px;
    width: 16.66%;
    text-align: center;

    @include mq('small'){
      padding-left: 10px;
      padding-right: 10px;
    }

    @include mq('mobile'){
      width: 33.33%;
      padding-left: 3px;
      padding-right: 3px;

      &.__first--row{
        margin-bottom: 22px;
      }
    }





    .__feature--image{
      img{
        width: 100%;
      }
    }

    .__feature--text{
      margin-top: 21px;

      @include mq('small'){
        margin-top: 11px;
      }
      @include mq('mobile'){
        margin-top: 6px;
      }

    }

  }
}




/*
FIND A SOLUTION
*/
.__find--solution{
  text-align: center;
  padding-bottom: 67px;


  .__find--solution--columns{
    letter-spacing: 0;
    font-size: 0;
    margin-top: 70px;

    @include mq('mobile'){
      margin-left: 7px;
      margin-right: 7px;
      margin-top: 30px;
    }

    .__find--solution--column-single{
      letter-spacing: inherit;
      width: 275px;
      display: inline-block;
      font-size: $font-size;

      @include mq('mobile'){
        width: 100%;
        display: block;
      }

      &.__middle{
        padding: 0 60px;
        width: auto;

        @include mq('mobile'){
          padding-top: 24px;
          padding-bottom: 20px;
        }
      }

      a.button.__block-level{
        width: 100%;
        display: block;
      }

      .__form--input{
        .__form--input--icon{
          i, & {
            font-size: 1.57em;
          }
        }

        input[type="text"], input[type="password"], input[type="email"]{
          width: 100%;
        }
      }

    }
  }


  .divider{
    max-width: 200px;
    margin: 50px auto 30px;

    @include mq('mobile'){
      max-width: 100%;
    }
  }


  .__popular-searches-suggest{
    h3, ul{
      display: inline-block;
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        a{
          @extend .__link2;
          padding: 0 10px;
        }
      }
    }
  }

}






/*
FEATURED PRODUCTS
*/
.__featured--products{
  background-color: #F5F3F0;
  padding: 53px 0 80px;


  @include mq('mobile'){
    padding-bottom: 50px;
  }

  @include mq('large-standard'){
    .container {
      width: 1254px;
    }
  }

  .divider{
    max-width: 200px;
    margin: 80px auto;

    @include mq('mobile'){
      margin: 45px auto;
    }
  }


  .__featured--single{


    @include mq('xx-mobile-min'){
      [class*="col-"]{
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    @include mq('small-min'){
      [class*="col-"]{
        padding-left: 60px;
        padding-right: 60px;
      }
    }


    @include mq('mobile'){
      text-align: center;
    }

    .__featured--image{
      max-width: 100%;
    }

    .__feature--link{
      margin-top: 8px;
    }



    &.__feature--image-left{
      .__feature--text-wrapper{
        @include mq('medium-min'){
          padding-left: 20px;
        }
      }
    }

    &.__feature--image-right{
      .__feature--text-wrapper{
        @include mq('medium-min'){
          padding-right: 20px;
        }
      }
    }



  }

}




/*
CUSTOMIZED SOLUTION
*/
.__customize--solution{
  padding: 32px 0 60px;

  @include mq('mobile'){
    padding: 58px 0 76px;
  }

  @include mq('x-mobile'){
    padding: 43px 0 76px;
  }

  .container{
    text-align: center;


    .__customize--solution--text{
      padding: 8px 0 13px;
      margin: 0 auto;
      max-width: 790px;

      @include mq('mobile'){
        padding: 4px 0 9px;
      }
    }

    .__cta--button{
      .button{
        width: 210px;
      }
    }

  }
}