<div class="__main--slider">
    <div class="__slide-item" style="background-image: url(assets/images/__slide--1.jpg);">
        <div class="container __container--maxed">
            <h1>The Sample Authority</h1>
            <div class="__copy">
                <p>We are dedicated to the creation of meaningful discovery experiences for the beauty and wellness industry.
                    We provide expert quality, value and service to deliver influential moments to our clients.</p>
            </div>
            <div class="__cta-buttons">
                <a href="javascript:;" class="button">ABOUT US</a>
                <a href="javascript:;" class="button __stroked">OUR SAMPLE</a>
            </div>
        </div>
    </div>

    <div class="__slide-item">
        <div class="container __container--maxed">
            <h1>Solutions for Every Business</h1>
            <div class="__cta-buttons">
                <a href="javascript:;" class="button">FIND YOUR SOLUTION</a>
            </div>
        </div>
    </div>

    <div class="__slide-item">
        <div class="container __container--maxed">
            <h1>Market-Leading Innovation</h1>
            <div class="__copy">
                <p>We invented and patented many sampling technologies that drive the industry. We remain at the forefront
                    of innovation through a continual commitment to R&D and manufacturing excellence.</p>
            </div>
            <div class="__cta-buttons">
                <a href="javascript:;" class="button">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>




<div id="home--features" class="__featured--categories">
    <div class="container __limited--width">
        <div class="row">
            <div class="col- __feature--single __first--row">
                <div class="__feature--image"><img src="assets/images/__feature--1.jpg" alt=""></div>
                <div class="__feature--text __sub4">Fragrance</div>
            </div>
            <div class="col- __feature--single __first--row">
                <div class="__feature--image"><img src="assets/images/__feature--2.jpg" alt=""></div>
                <div class="__feature--text __sub4">makeup</div>
            </div>
            <div class="col- __feature--single __first--row">
                <div class="__feature--image"><img src="assets/images/__feature--3.jpg" alt=""></div>
                <div class="__feature--text __sub4">skincare</div>
            </div>
            <div class="col- __feature--single">
                <div class="__feature--image"><img src="assets/images/__feature--4.jpg" alt=""></div>
                <div class="__feature--text __sub4">haircare</div>
            </div>
            <div class="col- __feature--single">
                <div class="__feature--image"><img src="assets/images/__feature--5.jpg" alt=""></div>
                <div class="__feature--text __sub4">personal care</div>
            </div>
            <div class="col- __feature--single">
                <div class="__feature--image"><img src="assets/images/__feature--6.jpg" alt=""></div>
                <div class="__feature--text __sub4">all technologies</div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="divider__limited divider"></div>
    </div>
</div>


<div id="home--find-solution" class="__find--solution">
    <div class="container">
        <h3>Find a Solution</h3>
        <div class="__body--text1">
            Need help? We can guide you to find the sample solutions that best fit your needs.
        </div>

        <div class="__find--solution--columns">
            <div class="__find--solution--column-single">
                <form action="">
                    <input type="hidden" name="page" value="<?php echo get_page_url('search'); ?>">

                    <div class="__form--input">
                        <input type="text" name="q" id="keyword--home-search" placeholder="Search by Keyword">
                        <div class="__form--input--icon">
                            <label for="keyword--home-search"><i class="icon-magnify"></i></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="__find--solution--column-single __middle">
                <div class="__body--text2">OR</div>
            </div>
            <div class="__find--solution--column-single">
                <a href="javascrript:;" class="button __block-level">SMART SEARCH</a>
            </div>
        </div>

        <div class="divider"></div>

        <div class="__popular-searches-suggest">
            <h3 class="__sub3">Popular searches:</h3>
            <ul class="__popular-searches __inline-tag">
                <li><a href="javascript:;">Makeup</a></li>
                <li><a href="javascript:;">Lipstick</a></li>
                <li><a href="javascript:;">Mascara</a></li>
                <li><a href="javascript:;">Powder</a></li>
                <li><a href="javascript:;">Serum</a></li>
                <li><a href="javascript:;">Package Insert</a></li>
            </ul>
        </div>
    </div>
</div>




<div id="home--featured-products" class="__featured--products">
    <div class="container">
        <div class="row __featured--single">
            <div class="col-xs-16 col-sm-8">
                <img src="assets/images/mini-mascara.png" alt="Mini Mascara">
            </div>
            <div class="col-xs-16 col-sm-8">
                <h3>Market-Leading Innovation</h3>
                <div class="__body--text1">
                    <p>With over a century of discoveries, we are the world leader
                        of sampling solutions. Our industry knowledge, global manufacturing
                        capabilities and patented technologies result in a wide range of solutions to suit your needs. </p>
                </div>
                <div class="__feature--link">
                    <a href="javascript:;" class="__link1">View technologies</a>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row __featured--single">
            <div class="col-xs-16 col-sm-8">
                <h3>Your Trusted Partner</h3>
                <div class="__body--text1">
                    <p>With over a century of discoveries, we are the world leader of sampling solutions.
                        Our industry knowledge, global manufacturing capabilities and patented technologies
                        result in a wide range of solutions to suit your needs.  </p>
                </div>
                <div class="__feature--link">
                    <a href="javascript:;" class="__link1">Meet Our Team</a>
                </div>
            </div>
            <div class="col-xs-16 col-sm-8">
                <img src="assets/images/partner-picture.png" alt="Partnership">
            </div>

        </div>


        <div class="divider"></div>

        <div class="row __featured--single">
            <div class="col-xs-16 col-sm-8">
                <img src="assets/images/map.png" alt="Locations Map">
            </div>
            <div class="col-xs-16 col-sm-8">
                <h3>The World&#8217;s Leading Provider of Sampling Solutions</h3>
                <div class="__body--text1">
                    <p>With over a century of discoveries, we are the world leader of sampling solutions.
                        Our industry knowledge, global manufacturing capabilities and patented technologies
                        result in a wide range of solutions to suit your needs.</p>
                </div>
                <div class="__feature--link">
                    <a href="javascript:;" class="__link1">View locations</a>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row __featured--single">
            <div class="col-xs-16 col-sm-8">
                <h3>Solutions for Every Business Opportunity</h3>
                <div class="__body--text1">
                    <p>With over a century of discoveries, we are the world leader of sampling solutions.
                        Our industry knowledge, global manufacturing capabilities and patented technologies
                        result in a wide range of solutions to suit your needs.  </p>
                </div>
                <div class="__feature--link">
                    <a href="javascript:;" class="__link1">View capabilities</a>
                </div>
            </div>
            <div class="col-xs-16 col-sm-8">
                <img src="assets/images/bomblicious.png" alt="Bomblicious">
            </div>

        </div>


        <div class="divider"></div>




    </div>
</div>


<div id="home--customize--solution" class="__customize--solution">
    <div class="container">
        <h3>Customize Your Solution</h3>
        <div class="__body--text1">
            <p>We can cater our sampling technologies to your needs. Please contact us to see how Arcade Beauty can help
                you deliver unique, influential moments of discovery.</p>
        </div>
        <div class="__cta--button">
            <a href="javascript:;" class="button">CONTACT US NOW</a>
        </div>
    </div>
</div>