
<div class="container">
    <h1>The Sample Authority</h1>
    <h2>Find a Solution</h2>
    <h3>Find a Solution</h3>
    <h1 class="__sub1">Join Our Community</h1>
    <h1 class="__sub2">Join Our Community</h1>
    <h1 class="__sub3">Popular Searches</h1>
    <h1 class="__sub4">FRAGRANCE</h1>

    <div class="__inverse" style="background-color: #510B76; padding: 10px;">
        <h1>The Sample Authority</h1>
        <h2>Find a Solution</h2>
        <h3>Find a Solution</h3>
        <h1 class="__sub1">Join Our Community</h1>
        <h1 class="__sub2">Join Our Community</h1>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="__body--text1">
                <p>Body text 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ipsam minima
                    nisi numquam quibusdam quo reiciendis vel. A, asperiores deleniti dignissimos dolor, dolorum,
                    ea est magni maxime neque odio rerum?</p>
            </div>

            <div class="__body--text2">
                <p>Body text 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ipsam minima
                    nisi numquam quibusdam quo reiciendis vel. A, asperiores deleniti dignissimos dolor, dolorum,
                    ea est magni maxime neque odio rerum?</p>
            </div>

            <div class="__body--text3">
                <p>Body text 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ipsam minima
                    nisi numquam quibusdam quo reiciendis vel. A, asperiores deleniti dignissimos dolor, dolorum,
                    ea est magni maxime neque odio rerum?</p>
            </div>


            <div class="divider"></div>

            <h3>Buttons and Links</h3>
            <a href="javascript:;" class="button">ABOUT US</a>
            <a href="javascript:;" class="button __stroked">OUR SAMPLES</a>

            <br>&nbsp;<br>
            <div class="divider __secondary"></div>

            <a href="javascript:;" class="__link1">View Technologies</a>
            <a href="javascript:;" class="__link2">Makeup</a>
            <a href="javascript:;" class="__link3">Clear Filters</a>


            <div class="divider"></div>

            <h3>Grids</h3>




        </div>
    </div>

</div>