/*
*****************************
**** ICONS FONT
*****************************
*/
@font-face {
  font-family: 'AS-icon';
  src: url("../fonts/AS-icon.eot?-7h0m6l");
  src: url("../fonts/AS-icon.eot?#iefix-7h0m6l") format("embedded-opentype"), url("../fonts/AS-icon.ttf?-7h0m6l") format("truetype"), url("../fonts/AS-icon.woff?-7h0m6l") format("woff"), url("../fonts/AS-icon.svg?-7h0m6l#AS-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  font-family: 'AS-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-left-arrow:before {
  content: "\e600"; }

.icon-right-arrow:before {
  content: "\e601"; }

.icon-small-right-arrow:before {
  content: "\e602"; }

.icon-magnify:before {
  content: "\e603"; }

.icon-lines-nav:before {
  content: "\e604"; }

.icon-close-nav:before {
  content: "\e605"; }

.icon-carret-down:before {
  content: "\e606"; }

@font-face {
  font-family: 'WhitneyBook';
  src: url("../fonts/WhitneyBook.eot");
  src: url("../fonts/WhitneyBook.eot") format("embedded-opentype"), url("../fonts/WhitneyBook.woff2") format("woff2"), url("../fonts/WhitneyBook.woff") format("woff"), url("../fonts/WhitneyBook.ttf") format("truetype"), url("../fonts/WhitneyBook.svg#WhitneyBook") format("svg"); }

@font-face {
  font-family: 'WhitneyBookItalic';
  src: url("../fonts/WhitneyBookItalic.eot");
  src: url("../fonts/WhitneyBookItalic.eot") format("embedded-opentype"), url("../fonts/WhitneyBookItalic.woff2") format("woff2"), url("../fonts/WhitneyBookItalic.woff") format("woff"), url("../fonts/WhitneyBookItalic.ttf") format("truetype"), url("../fonts/WhitneyBookItalic.svg#WhitneyBookItalic") format("svg"); }

@font-face {
  font-family: 'WhitneyMedium';
  src: url("../fonts/WhitneyMedium.eot");
  src: url("../fonts/WhitneyMedium.eot") format("embedded-opentype"), url("../fonts/WhitneyMedium.woff2") format("woff2"), url("../fonts/WhitneyMedium.woff") format("woff"), url("../fonts/WhitneyMedium.ttf") format("truetype"), url("../fonts/WhitneyMedium.svg#WhitneyMedium") format("svg"); }

@font-face {
  font-family: 'WhitneyMediumItalic';
  src: url("../fonts/WhitneyMediumItalic.eot");
  src: url("../fonts/WhitneyMediumItalic.eot") format("embedded-opentype"), url("../fonts/WhitneyMediumItalic.woff2") format("woff2"), url("../fonts/WhitneyMediumItalic.woff") format("woff"), url("../fonts/WhitneyMediumItalic.ttf") format("truetype"), url("../fonts/WhitneyMediumItalic.svg#WhitneyMediumItalic") format("svg"); }

@font-face {
  font-family: 'WhitneySemiBold';
  src: url("../fonts/WhitneySemiBold.eot");
  src: url("../fonts/WhitneySemiBold.eot") format("embedded-opentype"), url("../fonts/WhitneySemiBold.woff2") format("woff2"), url("../fonts/WhitneySemiBold.woff") format("woff"), url("../fonts/WhitneySemiBold.ttf") format("truetype"), url("../fonts/WhitneySemiBold.svg#WhitneySemiBold") format("svg"); }

/*
****************************************
CONTENTS
a. TYPOGRAPHY
b. BUTTONS & LINKS
c. ARROWS & DIVIDERS
****************************************
*/
/*
****************************************
SECTION: TYPOGRAPHY
1. Global Styles
2. Headings
3. Subheadings
4. Body text
***************************************
*/
.__base-font-size, .__body--text1, .__body--text2, .__body--text3 {
  font-size: 10px; }

/*
******************************************
** 1. Global Styles
******************************************
*/
body {
  font-size: 10px; }

/*
******************************************
** 2. Headings
******************************************
*/
h1, .h1 {
  font-family: "WhitneyBook", serif;
  color: #510B76;
  font-size: 8em;
  line-height: 0.95em; }
  @media (max-width: 1200px) {
    h1, .h1 {
      font-size: 7em; } }
  @media (max-width: 992px) {
    h1, .h1 {
      font-size: 5em; } }
  @media (max-width: 767px) {
    h1, .h1 {
      font-size: 4em; } }

h2, .h2 {
  font-family: "WhitneyBook", serif;
  font-size: 5.2em;
  line-height: 1em;
  color: #510B76; }
  @media (max-width: 1200px) {
    h2, .h2 {
      font-size: 4.5em; } }
  @media (max-width: 992px) {
    h2, .h2 {
      font-size: 4em; } }
  @media (max-width: 767px) {
    h2, .h2 {
      font-size: 3.2em; } }

h3, .h3 {
  font-family: "WhitneyBook", serif;
  font-size: 4.2em;
  line-height: 1.1em;
  color: #510B76; }
  @media (max-width: 1200px) {
    h3, .h3 {
      font-size: 3.9em; } }
  @media (max-width: 992px) {
    h3, .h3 {
      font-size: 3.5em; } }
  @media (max-width: 767px) {
    h3, .h3 {
      font-size: 3.2em; } }

/*
******************************************
** 3. Subheadings
******************************************
*/
h1.__sub1, h1.__sub2, h1.__sub3, h1.__sub4, .h1.__sub1, .h1.__sub2, .h1.__sub3, .h1.__sub4, h2.__sub1, h2.__sub2, h2.__sub3, h2.__sub4, .h2.__sub1, .h2.__sub2, .h2.__sub3, .h2.__sub4, h3.__sub1, h3.__sub2, h3.__sub3, h3.__sub4, .h3.__sub1, .h3.__sub2, .h3.__sub3, .h3.__sub4, span.__sub1, span.__sub2, span.__sub3, span.__sub4, i.__sub1, i.__sub2, i.__sub3, i.__sub4, div.__sub1, div.__sub2, div.__sub3, div.__sub4, a.__sub1, a.__sub2, a.__sub3, a.__sub4 {
  font-size: 10px; }

h1.__sub1, .h1.__sub1, h2.__sub1, .h2.__sub1, h3.__sub1, .h3.__sub1, span.__sub1, i.__sub1, div.__sub1, a.__sub1 {
  font-family: "WhitneyMedium", serif;
  font-size: 2.2em;
  line-height: 1.2em; }
  @media (max-width: 1200px) {
    h1.__sub1, .h1.__sub1, h2.__sub1, .h2.__sub1, h3.__sub1, .h3.__sub1, span.__sub1, i.__sub1, div.__sub1, a.__sub1 {
      font-size: 2em; } }
  @media (max-width: 992px) {
    h1.__sub1, .h1.__sub1, h2.__sub1, .h2.__sub1, h3.__sub1, .h3.__sub1, span.__sub1, i.__sub1, div.__sub1, a.__sub1 {
      font-size: 1.9em; } }
  @media (max-width: 767px) {
    h1.__sub1, .h1.__sub1, h2.__sub1, .h2.__sub1, h3.__sub1, .h3.__sub1, span.__sub1, i.__sub1, div.__sub1, a.__sub1 {
      font-size: 1.8em; } }

h1.__sub2, .h1.__sub2, h2.__sub2, .h2.__sub2, h3.__sub2, .h3.__sub2, span.__sub2, i.__sub2, div.__sub2, a.__sub2 {
  font-family: "WhitneyMedium", serif;
  font-size: 1.8em;
  line-height: 1.5em; }
  @media (max-width: 992px) {
    h1.__sub2, .h1.__sub2, h2.__sub2, .h2.__sub2, h3.__sub2, .h3.__sub2, span.__sub2, i.__sub2, div.__sub2, a.__sub2 {
      font-size: 1.7em; } }
  @media (max-width: 767px) {
    h1.__sub2, .h1.__sub2, h2.__sub2, .h2.__sub2, h3.__sub2, .h3.__sub2, span.__sub2, i.__sub2, div.__sub2, a.__sub2 {
      font-size: 1.6em; } }

h1.__sub3, .h1.__sub3, h2.__sub3, .h2.__sub3, h3.__sub3, .h3.__sub3, span.__sub3, i.__sub3, div.__sub3, a.__sub3 {
  font-family: "WhitneySemiBold", serif;
  font-size: 1.6em;
  color: #b7b7b7; }

h1 .__sub4, .h1 .__sub4, h2 .__sub4, .h2 .__sub4, h3 .__sub4, .h3 .__sub4, span .__sub4, i .__sub4, div .__sub4, a .__sub4 {
  font-family: "WhitneyMedium", serif;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.01em;
  color: #666; }
  @media (max-width: 1200px) {
    h1 .__sub4, .h1 .__sub4, h2 .__sub4, .h2 .__sub4, h3 .__sub4, .h3 .__sub4, span .__sub4, i .__sub4, div .__sub4, a .__sub4 {
      font-size: 1.1em; } }
  @media (max-width: 992px) {
    h1 .__sub4, .h1 .__sub4, h2 .__sub4, .h2 .__sub4, h3 .__sub4, .h3 .__sub4, span .__sub4, i .__sub4, div .__sub4, a .__sub4 {
      font-size: 1em; } }
  @media (max-width: 480px) {
    h1 .__sub4, .h1 .__sub4, h2 .__sub4, .h2 .__sub4, h3 .__sub4, .h3 .__sub4, span .__sub4, i .__sub4, div .__sub4, a .__sub4 {
      font-size: 0.8em; } }

/*
Inverse color
*/
.__inverse h1, .__inverse .h1, .__inverse h2, .__inverse .h2, .__inverse h3, .__inverse .h3, .__inverse span, .__inverse i, .__inverse div, .__inverse a {
  color: #fff; }
  .__inverse h1.__sub1, .__inverse h1.__sub2, .__inverse .h1.__sub1, .__inverse .h1.__sub2, .__inverse h2.__sub1, .__inverse h2.__sub2, .__inverse .h2.__sub1, .__inverse .h2.__sub2, .__inverse h3.__sub1, .__inverse h3.__sub2, .__inverse .h3.__sub1, .__inverse .h3.__sub2, .__inverse span.__sub1, .__inverse span.__sub2, .__inverse i.__sub1, .__inverse i.__sub2, .__inverse div.__sub1, .__inverse div.__sub2, .__inverse a.__sub1, .__inverse a.__sub2 {
    color: #fff; }

/*
******************************************
** 4. Body text
******************************************
*/
.__body--text1 {
  font-family: "WhitneyBook", serif;
  font-size: 1.8em;
  line-height: 1.55em;
  color: #666; }
  @media (max-width: 992px) {
    .__body--text1 {
      font-size: 1.7em; } }
  @media (max-width: 767px) {
    .__body--text1 {
      font-size: 1.6em; } }

.__body--text2 {
  font-family: "WhitneyMedium", serif;
  font-size: 1.8em;
  line-height: 1.55em;
  color: #b7b7b7; }
  @media (max-width: 992px) {
    .__body--text2 {
      font-size: 1.7em; } }
  @media (max-width: 767px) {
    .__body--text2 {
      font-size: 1.6em; } }

.__body--text3 {
  font-family: "WhitneyBook", serif;
  font-size: 1.6em;
  line-height: 1.4em;
  color: #666; }

/*
****************************************
SECTION: BUTTONS & LINKS
1. Buttons
2. Links
***************************************
*/
/*
******************************************
** 1. Buttons
******************************************
*/
.button, a.button, span.button {
  font-family: "WhitneyMedium", serif;
  font-size: 10px;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #510B76;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 5px;
  border: 1px solid #510B76;
  text-decoration: none;
  outline: none; }
  .button:hover, .button:focus, a.button:hover, a.button:focus, span.button:hover, span.button:focus {
    color: #fff; }
  .button.__stroked, a.button.__stroked, span.button.__stroked {
    background-color: transparent;
    color: #510B76; }
    .button.__stroked:hover, .button.__stroked:focus, a.button.__stroked:hover, a.button.__stroked:focus, span.button.__stroked:hover, span.button.__stroked:focus {
      color: #510B76; }

/*
******************************************
** 2. Links
******************************************
*/
a {
  color: #C124B8;
  text-decoration: none; }
  a:hover, a:focus {
    color: #C124B8; }

a.__link1, .__link1, a.__link2, .__find--solution .__popular-searches-suggest ul li a, .__link2, .__find--solution .__popular-searches-suggest ul li a, a.__link3, .__link3 {
  font-size: 10px; }
  a.__link1 .__link--icon, .__link1 .__link--icon, a.__link2 .__link--icon, .__find--solution .__popular-searches-suggest ul li a .__link--icon, .__link2 .__link--icon, .__find--solution .__popular-searches-suggest ul li a .__link--icon, a.__link3 .__link--icon, .__link3 .__link--icon {
    font-size: 12px;
    vertical-align: middle; }

a.__link1, .__link1 {
  font-family: "WhitneyBookItalic", serif;
  font-size: 1.8em; }

a.__link2, .__find--solution .__popular-searches-suggest ul li a, .__link2, .__find--solution .__popular-searches-suggest ul li a {
  font-family: "WhitneyBookItalic", serif;
  font-size: 1.6em; }

a.__link3, .__link3 {
  font-family: "WhitneyBookItalic", serif;
  font-size: 1.6em;
  color: #AAA;
  text-decoration: underline; }
  a.__link3:hover, a.__link3:focus, .__link3:hover, .__link3:focus {
    color: #AAA; }

.__inverse a.__link1, .__inverse .__link1, .__inverse a.__link2, .__inverse .__find--solution .__popular-searches-suggest ul li a, .__find--solution .__popular-searches-suggest ul li .__inverse a, .__inverse .__link2, .__inverse .__find--solution .__popular-searches-suggest ul li a, .__find--solution .__popular-searches-suggest ul li .__inverse a {
  color: #fff; }

/*
****************************************
SECTION: ARROWS & DIVIDERS
1. Arrows
2. Dividers
***************************************
*/
/*
******************************************
** 1. Arrows
******************************************
*/
/*
******************************************
** 2. Dividers
******************************************
*/
.divider {
  height: 1px;
  background-color: #DFDFDF; }
  .divider.__secondary {
    background-color: #c7c7c7; }

/*
*****************************
**** Forms
*****************************
*/
/*
*****************************
DROP DOWN / SELECT
*****************************
*/
.select2-container {
  z-index: 5900; }

.select2-dropdown {
  background-color: #FFF;
  border: 1px solid #858585;
  border-radius: 0; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #FBF1FB; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #CF69CF;
  color: #FFF; }

.select2-results__option {
  font-family: "WhitneyBook", serif;
  color: #666;
  font-size: 10px;
  font-size: 1.6em; }

/*
********************************
****** FORM INPUT
*/
.__form--input {
  position: relative;
  font-size: 10px; }
  .__form--input input[type="text"], .__form--input input[type="password"], .__form--input input[type="email"] {
    font-family: "WhitneyBookItalic", serif;
    color: #b7b7b7;
    font-size: 1.8em;
    height: 45px;
    line-height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #D3D3D3;
    position: relative;
    display: block;
    width: 275px; }
  .__form--input .__form--input--icon {
    position: absolute;
    right: 0;
    top: 10px;
    width: 23px;
    height: 25px; }
    .__form--input .__form--input--icon i, .__form--input .__form--input--icon {
      color: #b7b7b7; }

/*
***********************************
***** FOOTER
***********************************
*/
.__footer {
  background-color: #510B76;
  color: #FFFFFF; }
  .__footer .__footer--content {
    padding-top: 35px;
    padding-bottom: 35px; }
    .__footer .__footer--content .container {
      max-width: 996px; }
    .__footer .__footer--content .__footer--address .__footer--brand {
      width: 80px;
      float: left;
      margin-right: 20px; }
    .__footer .__footer--content .__footer--address p, .__footer .__footer--content .__footer--address {
      font-size: 10px;
      line-height: 1.55em;
      letter-spacing: 0.01em;
      color: #ffffff;
      margin: 0;
      padding: 0; }
    .__footer .__footer--content .__footer--address p {
      font-family: "WhitneyMedium", serif;
      font-size: 1.4em;
      text-transform: uppercase; }
      @media (max-width: 480px) {
        .__footer .__footer--content .__footer--address p {
          font-size: 1.3em; } }
    .__footer .__footer--content .__footer--address a {
      font-size: 10px;
      font-size: 1.6em;
      color: #FFFFFF;
      font-family: "WhitneyBookItalic", serif; }
      @media (max-width: 992px) {
        .__footer .__footer--content .__footer--address a {
          font-size: 1.5em; } }
      @media (max-width: 767px) {
        .__footer .__footer--content .__footer--address a {
          font-size: 1.4em; } }
      @media (max-width: 480px) {
        .__footer .__footer--content .__footer--address a {
          font-size: 1.3em; } }
    @media (max-width: 767px) {
      .__footer .__footer--content .__footer--join {
        margin-top: 39px; } }
    .__footer .__footer--content .__footer--join h1, .__footer .__footer--content .__footer--join h2, .__footer .__footer--content .__footer--join h3 {
      margin: 0;
      padding: 0; }
    .__footer .__footer--content .__footer--join .__form--input {
      margin-top: 5px; }
      .__footer .__footer--content .__footer--join .__form--input input[type="text"], .__footer .__footer--content .__footer--join .__form--input input[type="password"], .__footer .__footer--content .__footer--join .__form--input input[type="email"] {
        border-color: #76568F;
        color: #d3d3d3;
        width: 100%; }
        @media (max-width: 992px) {
          .__footer .__footer--content .__footer--join .__form--input input[type="text"], .__footer .__footer--content .__footer--join .__form--input input[type="password"], .__footer .__footer--content .__footer--join .__form--input input[type="email"] {
            font-size: 1.7em; } }
        @media (max-width: 480px) {
          .__footer .__footer--content .__footer--join .__form--input input[type="text"], .__footer .__footer--content .__footer--join .__form--input input[type="password"], .__footer .__footer--content .__footer--join .__form--input input[type="email"] {
            font-size: 1.6em; } }
      .__footer .__footer--content .__footer--join .__form--input .__form--input--icon {
        width: 11px;
        height: 18px;
        font-size: 10px;
        top: 15px; }
        .__footer .__footer--content .__footer--join .__form--input .__form--input--icon i, .__footer .__footer--content .__footer--join .__form--input .__form--input--icon {
          color: #C124B8;
          font-size: 1.35em; }
  .__footer .__footer--copyrights {
    background-color: #35074E;
    min-height: 45px;
    line-height: 35px;
    padding: 5px 0; }
    .__footer .__footer--copyrights .container {
      max-width: 996px;
      font-size: 10px; }
    .__footer .__footer--copyrights ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: block;
      height: 35px;
      line-height: 35px; }
      @media (max-width: 767px) {
        .__footer .__footer--copyrights ul {
          margin-top: 5px; } }
      .__footer .__footer--copyrights ul li {
        display: inline-block;
        font-size: 10px;
        padding-right: 30px; }
        @media (max-width: 767px) {
          .__footer .__footer--copyrights ul li {
            padding-right: 20px; } }
        .__footer .__footer--copyrights ul li:last-child {
          padding-right: 0; }
        .__footer .__footer--copyrights ul li a {
          display: block;
          font-family: "WhitneyBookItalic", serif;
          font-size: 10px;
          font-size: 1.6em;
          color: #FFFFFF;
          line-height: 35px;
          height: 35px; }
          @media (max-width: 992px) {
            .__footer .__footer--copyrights ul li a {
              font-size: 1.5em; } }
          @media (max-width: 767px) {
            .__footer .__footer--copyrights ul li a {
              font-size: 1.4em; } }
          @media (max-width: 480px) {
            .__footer .__footer--copyrights ul li a {
              font-size: 1.3em; } }
          @media (max-width: 767px) {
            .__footer .__footer--copyrights ul li a.__linkedin--icon img {
              width: 48px; } }
    .__footer .__footer--copyrights .__copyright {
      font-family: "WhitneyBook", serif;
      font-size: 10px;
      font-size: 1.6em;
      color: #FFFFFF;
      opacity: 0.5; }
      @media (max-width: 992px) {
        .__footer .__footer--copyrights .__copyright {
          font-size: 1.5em; } }
      @media (max-width: 767px) {
        .__footer .__footer--copyrights .__copyright {
          font-size: 1.4em; } }
      @media (max-width: 480px) {
        .__footer .__footer--copyrights .__copyright {
          font-size: 1.3em; } }
    @media (max-width: 767px) {
      .__footer .__footer--copyrights .__mobile--reset {
        width: 100%;
        float: none;
        text-align: center; } }

/*
******************************************
****** SLIDERS
******************************************
*/
/*
MAIN SLIDER
*/
.__main--slider {
  height: 530px;
  overflow: hidden; }
  .__main--slider .__slide-item {
    background: #f2f2f2 0 50% no-repeat;
    height: 530px; }
    @media (min-width: 1201px) {
      .__main--slider .__slide-item {
        background-position: top right;
        -webkit-background-size: cover;
        background-size: cover; } }

/*
FEATURED CATEGORIES
*/
.__featured--categories .divider__limited {
  max-width: 1200px;
  margin: 0 auto 50px; }
  @media (max-width: 767px) {
    .__featured--categories .divider__limited {
      margin-bottom: 14px; } }

.__featured--categories .container.__limited--width {
  padding-top: 60px;
  padding-bottom: 75px;
  max-width: 1171px; }
  @media (max-width: 767px) {
    .__featured--categories .container.__limited--width {
      padding-top: 20px;
      padding-bottom: 35px; } }

.__featured--categories .__feature--single {
  float: left;
  padding-left: 17.5px;
  padding-right: 17.5px;
  width: 16.66%;
  text-align: center; }
  @media (max-width: 992px) {
    .__featured--categories .__feature--single {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 767px) {
    .__featured--categories .__feature--single {
      width: 33.33%;
      padding-left: 3px;
      padding-right: 3px; }
      .__featured--categories .__feature--single.__first--row {
        margin-bottom: 22px; } }
  .__featured--categories .__feature--single .__feature--image img {
    width: 100%; }
  .__featured--categories .__feature--single .__feature--text {
    margin-top: 21px; }
    @media (max-width: 992px) {
      .__featured--categories .__feature--single .__feature--text {
        margin-top: 11px; } }
    @media (max-width: 767px) {
      .__featured--categories .__feature--single .__feature--text {
        margin-top: 6px; } }

/*
FIND A SOLUTION
*/
.__find--solution {
  text-align: center;
  padding-bottom: 67px; }
  .__find--solution .__find--solution--columns {
    letter-spacing: 0;
    font-size: 0;
    margin-top: 70px; }
    @media (max-width: 767px) {
      .__find--solution .__find--solution--columns {
        margin-left: 7px;
        margin-right: 7px;
        margin-top: 30px; } }
    .__find--solution .__find--solution--columns .__find--solution--column-single {
      letter-spacing: inherit;
      width: 275px;
      display: inline-block;
      font-size: 10px; }
      @media (max-width: 767px) {
        .__find--solution .__find--solution--columns .__find--solution--column-single {
          width: 100%;
          display: block; } }
      .__find--solution .__find--solution--columns .__find--solution--column-single.__middle {
        padding: 0 60px;
        width: auto; }
        @media (max-width: 767px) {
          .__find--solution .__find--solution--columns .__find--solution--column-single.__middle {
            padding-top: 24px;
            padding-bottom: 20px; } }
      .__find--solution .__find--solution--columns .__find--solution--column-single a.button.__block-level {
        width: 100%;
        display: block; }
      .__find--solution .__find--solution--columns .__find--solution--column-single .__form--input .__form--input--icon i, .__find--solution .__find--solution--columns .__find--solution--column-single .__form--input .__form--input--icon {
        font-size: 1.57em; }
      .__find--solution .__find--solution--columns .__find--solution--column-single .__form--input input[type="text"], .__find--solution .__find--solution--columns .__find--solution--column-single .__form--input input[type="password"], .__find--solution .__find--solution--columns .__find--solution--column-single .__form--input input[type="email"] {
        width: 100%; }
  .__find--solution .divider {
    max-width: 200px;
    margin: 50px auto 30px; }
    @media (max-width: 767px) {
      .__find--solution .divider {
        max-width: 100%; } }
  .__find--solution .__popular-searches-suggest h3, .__find--solution .__popular-searches-suggest ul {
    display: inline-block; }
  .__find--solution .__popular-searches-suggest ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .__find--solution .__popular-searches-suggest ul li {
      display: inline-block; }
      .__find--solution .__popular-searches-suggest ul li a {
        padding: 0 10px; }

/*
FEATURED PRODUCTS
*/
.__featured--products {
  background-color: #F5F3F0;
  padding: 53px 0 80px; }
  .__featured--products .divider {
    max-width: 200px;
    margin: 80px auto; }
    @media (max-width: 767px) {
      .__featured--products .divider {
        max-width: 100%; } }
  @media (min-width: 993px) {
    .__featured--products .__featured--single [class*="col-"] {
      padding-left: 74px;
      padding-right: 74px; } }
  .__featured--products .__featured--single .__featured--image {
    max-width: 100%; }
  .__featured--products .__featured--single .__feature--link {
    margin-top: 8px; }

/*
CUSTOMIZED SOLUTION
*/
.__customize--solution {
  padding: 32px 0 60px; }
  @media (max-width: 767px) {
    .__customize--solution {
      padding: 58px 0 76px; } }
  .__customize--solution .container {
    text-align: center; }
    .__customize--solution .container .__customize--solution--text {
      padding: 8px 0 13px;
      margin: 0 auto;
      max-width: 790px; }
      @media (max-width: 767px) {
        .__customize--solution .container .__customize--solution--text {
          padding: 4px 0 9px; } }
    .__customize--solution .container .__cta--button .button {
      width: 210px; }
      @media (max-width: 480px) {
        .__customize--solution .container .__cta--button .button {
          width: auto; } }

/*
*****************************
**** NAVIGATION
*****************************
*/
nav.__navigation, .__navigation {
  border-bottom: 1px solid #DFDFDF;
  background-color: #fff;
  height: 100px;
  position: relative;
  z-index: 4000;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  /*
  ************************
  *** Brand Logo
  ************************
  */
  /*
  ************************
  *** NAVIGATION BUTTONS
  ************************
  */
  /*
  *************************
   Media queries
  *************************
  */
  /*
  *************************
   Search bar
  *************************
  */ }
  nav.__navigation.__static, .__navigation.__static {
    border: none;
    max-height: 100px;
    -webkit-transition: max-height 0.2s 0.3s, height 0.2s 0.3s;
    -moz-transition: max-height 0.2s 0.3s, height 0.2s 0.3s;
    -ms-transition: max-height 0.2s 0.3s, height 0.2s 0.3s;
    -o-transition: max-height 0.2s 0.3s, height 0.2s 0.3s;
    transition: max-height 0.2s 0.3s, height 0.2s 0.3s; }
  nav.__navigation.__cloned, .__navigation.__cloned {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  nav.__navigation .__container-fluid, .__navigation .__container-fluid {
    width: 100%;
    max-width: 100%;
    padding: 0 23px; }
  nav.__navigation .__navigation-content, .__navigation .__navigation-content {
    position: relative;
    z-index: 10; }
  nav.__navigation .brand-logo, nav.__navigation .brand-logo img, .__navigation .brand-logo, .__navigation .brand-logo img {
    -webkit-transition: margin 0.2s, height 0.2s;
    -moz-transition: margin 0.2s, height 0.2s;
    -ms-transition: margin 0.2s, height 0.2s;
    -o-transition: margin 0.2s, height 0.2s;
    transition: margin 0.2s, height 0.2s; }
  nav.__navigation .brand-logo, .__navigation .brand-logo {
    float: left;
    margin: 10px 0;
    height: 80px; }
    nav.__navigation .brand-logo img, .__navigation .brand-logo img {
      height: 80px; }
  nav.__navigation .navigation-buttons, .__navigation .navigation-buttons {
    float: right;
    margin: 30px 0;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -ms-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s; }
    nav.__navigation .navigation-buttons ul, .__navigation .navigation-buttons ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      nav.__navigation .navigation-buttons ul li, .__navigation .navigation-buttons ul li {
        float: left;
        margin-left: 30px;
        height: 40px;
        font-size: 10px; }
        nav.__navigation .navigation-buttons ul li.nav-divider, .__navigation .navigation-buttons ul li.nav-divider {
          height: 50px;
          margin: -5px 0px -5px 30px;
          width: 1px;
          background-color: #DFDFDF; }
        nav.__navigation .navigation-buttons ul li i, .__navigation .navigation-buttons ul li i {
          vertical-align: middle; }
        nav.__navigation .navigation-buttons ul li a, .__navigation .navigation-buttons ul li a {
          text-decoration: none; }
        nav.__navigation .navigation-buttons ul li .button, .__navigation .navigation-buttons ul li .button {
          width: 150px; }
        nav.__navigation .navigation-buttons ul li .arrow--search-bar, .__navigation .navigation-buttons ul li .arrow--search-bar {
          position: absolute;
          height: 0;
          width: 0;
          border: 11px solid transparent;
          border-top-color: #DFDFDF;
          border-top-width: 12px;
          border-left-width: 12px;
          bottom: -12px;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: opacity 0.2s 0s, visibility 0s 0.3s, bottom 0.3s 0s;
          -moz-transition: opacity 0.2s 0s, visibility 0s 0.3s, bottom 0.3s 0s;
          -ms-transition: opacity 0.2s 0s, visibility 0s 0.3s, bottom 0.3s 0s;
          -o-transition: opacity 0.2s 0s, visibility 0s 0.3s, bottom 0.3s 0s;
          transition: opacity 0.2s 0s, visibility 0s 0.3s, bottom 0.3s 0s; }
          nav.__navigation .navigation-buttons ul li .arrow--search-bar .arrow--inner, .__navigation .navigation-buttons ul li .arrow--search-bar .arrow--inner {
            position: absolute;
            height: 0;
            width: 0;
            border: 11px solid transparent;
            border-top-color: #fff;
            border-top-width: 12px;
            border-left-width: 12px;
            bottom: -10px;
            left: -12px; }
        nav.__navigation .navigation-buttons ul li .search-button, .__navigation .navigation-buttons ul li .search-button {
          font-size: 2.8em;
          line-height: 40px;
          color: #868686; }
          @media (max-width: 767px) {
            nav.__navigation .navigation-buttons ul li .search-button, .__navigation .navigation-buttons ul li .search-button {
              font-size: 2.3em; } }
        nav.__navigation .navigation-buttons ul li .menu-button, .__navigation .navigation-buttons ul li .menu-button {
          font-family: "WhitneyMedium", serif;
          font-size: 1.3em;
          color: #868686;
          letter-spacing: 0;
          line-height: 40px; }
          nav.__navigation .navigation-buttons ul li .menu-button .nav-icon, .__navigation .navigation-buttons ul li .menu-button .nav-icon {
            color: #868686; }
            nav.__navigation .navigation-buttons ul li .menu-button .nav-icon i, .__navigation .navigation-buttons ul li .menu-button .nav-icon i {
              font-size: 1.6em; }
              @media (max-width: 767px) {
                nav.__navigation .navigation-buttons ul li .menu-button .nav-icon i, .__navigation .navigation-buttons ul li .menu-button .nav-icon i {
                  font-size: 1.4em; } }
            nav.__navigation .navigation-buttons ul li .menu-button .nav-icon.__close-icon i, .__navigation .navigation-buttons ul li .menu-button .nav-icon.__close-icon i {
              font-size: 2em; }
          nav.__navigation .navigation-buttons ul li .menu-button .menu-button-text.__text-open, .__navigation .navigation-buttons ul li .menu-button .menu-button-text.__text-open {
            margin-left: 8px;
            letter-spacing: 0.05em; }
            @media (max-width: 992px) {
              nav.__navigation .navigation-buttons ul li .menu-button .menu-button-text.__text-open, .__navigation .navigation-buttons ul li .menu-button .menu-button-text.__text-open {
                display: none;
                margin-left: 0; } }
    @media (max-width: 992px) {
      nav.__navigation .navigation-buttons, .__navigation .navigation-buttons {
        margin: 14px 0; } }
  nav.__navigation.__sticky, .__navigation.__sticky {
    height: 80px; }
    nav.__navigation.__sticky .brand-logo, .__navigation.__sticky .brand-logo {
      height: 60px; }
      nav.__navigation.__sticky .brand-logo img, .__navigation.__sticky .brand-logo img {
        height: 60px; }
    nav.__navigation.__sticky .navigation-buttons, .__navigation.__sticky .navigation-buttons {
      margin: 20px 0; }
      @media (max-width: 992px) {
        nav.__navigation.__sticky .navigation-buttons, .__navigation.__sticky .navigation-buttons {
          margin: 14px 0; } }
  @media (max-width: 992px) {
    nav.__navigation, .__navigation {
      height: 68px; }
      nav.__navigation .brand-logo, .__navigation .brand-logo {
        margin: 8px 0;
        height: 52px; }
        nav.__navigation .brand-logo img, .__navigation .brand-logo img {
          height: 52px; }
      nav.__navigation.__sticky, .__navigation.__sticky {
        height: 68px; }
        nav.__navigation.__sticky .brand-logo, .__navigation.__sticky .brand-logo {
          margin: 8px 0;
          height: 52px; }
          nav.__navigation.__sticky .brand-logo img, .__navigation.__sticky .brand-logo img {
            height: 52px; } }
  nav.__navigation .__search--bar, .__navigation .__search--bar {
    background-color: #F5F3F0;
    border-bottom: 1px solid #DFDFDF;
    height: 80px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: max-height 0.3s 0.2s, opacity 0.3s 0.2s;
    -moz-transition: max-height 0.3s 0.2s, opacity 0.3s 0.2s;
    -ms-transition: max-height 0.3s 0.2s, opacity 0.3s 0.2s;
    -o-transition: max-height 0.3s 0.2s, opacity 0.3s 0.2s;
    transition: max-height 0.3s 0.2s, opacity 0.3s 0.2s; }
    @media (max-width: 992px) {
      nav.__navigation .__search--bar, .__navigation .__search--bar {
        height: 60px; } }
    nav.__navigation .__search--bar .container, .__navigation .__search--bar .container {
      position: relative;
      opacity: 0;
      -webkit-transition: opacity 0.3s 0s;
      -moz-transition: opacity 0.3s 0s;
      -ms-transition: opacity 0.3s 0s;
      -o-transition: opacity 0.3s 0s;
      transition: opacity 0.3s 0s;
      visibility: hidden; }
      nav.__navigation .__search--bar .container form, .__navigation .__search--bar .container form {
        position: relative;
        display: block;
        margin: 0 20px; }
        @media (max-width: 992px) {
          nav.__navigation .__search--bar .container form, .__navigation .__search--bar .container form {
            margin: 0; } }
      nav.__navigation .__search--bar .container input[type="text"], .__navigation .__search--bar .container input[type="text"] {
        position: relative;
        display: block;
        width: 100%;
        padding-right: 40px;
        border: none;
        outline: none;
        background-color: transparent;
        font-family: "WhitneyMediumItalic", serif;
        font-size: 10px;
        font-size: 2.6em;
        color: #b7b7b7;
        height: 80px;
        line-height: 80px; }
        @media (max-width: 992px) {
          nav.__navigation .__search--bar .container input[type="text"], .__navigation .__search--bar .container input[type="text"] {
            height: 60px;
            line-height: 60px;
            font-size: 2.3em; } }
        @media (max-width: 767px) {
          nav.__navigation .__search--bar .container input[type="text"], .__navigation .__search--bar .container input[type="text"] {
            font-size: 2em; } }
      nav.__navigation .__search--bar .container button[type="submit"], nav.__navigation .__search--bar .container input[type="submit"], nav.__navigation .__search--bar .container .__search-icon, .__navigation .__search--bar .container button[type="submit"], .__navigation .__search--bar .container input[type="submit"], .__navigation .__search--bar .container .__search-icon {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -17px;
        width: 32px;
        height: 35px;
        border: none;
        background: none;
        color: #B7B7B7;
        font-size: 10px;
        font-size: 3.4em;
        padding: 0; }
        nav.__navigation .__search--bar .container button[type="submit"] i, nav.__navigation .__search--bar .container input[type="submit"] i, nav.__navigation .__search--bar .container .__search-icon i, .__navigation .__search--bar .container button[type="submit"] i, .__navigation .__search--bar .container input[type="submit"] i, .__navigation .__search--bar .container .__search-icon i {
          vertical-align: middle;
          display: block; }
        @media (max-width: 992px) {
          nav.__navigation .__search--bar .container button[type="submit"], nav.__navigation .__search--bar .container input[type="submit"], nav.__navigation .__search--bar .container .__search-icon, .__navigation .__search--bar .container button[type="submit"], .__navigation .__search--bar .container input[type="submit"], .__navigation .__search--bar .container .__search-icon {
            width: 22px;
            height: 23px;
            margin-top: -11px;
            font-size: 2.4em; } }

.__js-search--open a.search-button, .__js-search--open .search-button {
  color: #510B76 !important; }

.__js-search--open .__navigation.__static {
  max-height: 200px;
  height: 100%;
  -webkit-transition: max-height 0.2s 0s, height 0.2s 0s;
  -moz-transition: max-height 0.2s 0s, height 0.2s 0s;
  -ms-transition: max-height 0.2s 0s, height 0.2s 0s;
  -o-transition: max-height 0.2s 0s, height 0.2s 0s;
  transition: max-height 0.2s 0s, height 0.2s 0s; }

.__js-search--open .__navigation .navigation-buttons ul li .arrow--search-bar {
  opacity: 1;
  visibility: visible;
  bottom: -22px;
  -webkit-transition: opacity 0.3s 0.2s, visibility 0s 0s, bottom 0.3s 0.2s;
  -moz-transition: opacity 0.3s 0.2s, visibility 0s 0s, bottom 0.3s 0.2s;
  -ms-transition: opacity 0.3s 0.2s, visibility 0s 0s, bottom 0.3s 0.2s;
  -o-transition: opacity 0.3s 0.2s, visibility 0s 0s, bottom 0.3s 0.2s;
  transition: opacity 0.3s 0.2s, visibility 0s 0s, bottom 0.3s 0.2s; }

.__js-search--open .__navigation .__search--bar {
  max-height: 80px;
  overflow: inherit;
  opacity: 1;
  -webkit-transition: max-height 0.3s 0s, opacity 0.3s 0s;
  -moz-transition: max-height 0.3s 0s, opacity 0.3s 0s;
  -ms-transition: max-height 0.3s 0s, opacity 0.3s 0s;
  -o-transition: max-height 0.3s 0s, opacity 0.3s 0s;
  transition: max-height 0.3s 0s, opacity 0.3s 0s; }
  .__js-search--open .__navigation .__search--bar .container {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.2s 0.3s;
    -moz-transition: opacity 0.2s 0.3s;
    -ms-transition: opacity 0.2s 0.3s;
    -o-transition: opacity 0.2s 0.3s;
    transition: opacity 0.2s 0.3s; }

/*
*****************************************
**** NAVIGATION DRAWER
*****************************************
*/
.drawer-arcade-style {
  border-left: 1px solid #DFDFDF;
  background-color: #fff;
  width: 100%;
  max-width: 320px; }
  @media (max-width: 480px) {
    .drawer-arcade-style {
      max-width: 100%; } }
  .drawer-arcade-style .__navigation, .drawer-arcade-style .__drawer-navigation {
    border: none;
    padding: 0 25px 0 40px; }
    .drawer-arcade-style .__navigation.__cloned, .drawer-arcade-style .__drawer-navigation.__cloned {
      right: 0;
      width: 320px;
      left: auto;
      z-index: 10; }
      @media (max-width: 480px) {
        .drawer-arcade-style .__navigation.__cloned, .drawer-arcade-style .__drawer-navigation.__cloned {
          width: 100%; } }
  .drawer-arcade-style .__drawer-navigation {
    /*
     SELECT UI
    */ }
    .drawer-arcade-style .__drawer-navigation ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .drawer-arcade-style .__drawer-navigation ul a {
        font-size: 10px; }
    .drawer-arcade-style .__drawer-navigation > ul {
      padding-top: 2px; }
      .drawer-arcade-style .__drawer-navigation > ul > li {
        padding: 20px 0; }
        .drawer-arcade-style .__drawer-navigation > ul > li > a {
          font-family: "WhitneySemiBold", serif;
          font-size: 1.6em;
          color: #666666;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          line-height: 0.8em;
          vertical-align: middle;
          display: block;
          text-decoration: none; }
        .drawer-arcade-style .__drawer-navigation > ul > li > ul {
          padding-top: 0px;
          max-height: 0;
          overflow: hidden;
          opacity: 0; }
          .drawer-arcade-style .__drawer-navigation > ul > li > ul > li > a {
            display: block;
            padding: 15px 0;
            font-family: "WhitneyBookItalic", serif;
            font-size: 1.6em;
            color: #666666;
            line-height: 0.8em;
            vertical-align: middle; }
          .drawer-arcade-style .__drawer-navigation > ul > li > ul > li:last-child > a {
            padding-bottom: 0px; }
        .drawer-arcade-style .__drawer-navigation > ul > li.__is-expanded > ul {
          max-height: 1000px;
          padding-top: 5px;
          opacity: 1;
          overflow: inherit;
          -webkit-transition: opacity 0.3s, maxHeight 0.3s;
          -moz-transition: opacity 0.3s, maxHeight 0.3s;
          -ms-transition: opacity 0.3s, maxHeight 0.3s;
          -o-transition: opacity 0.3s, maxHeight 0.3s;
          transition: opacity 0.3s, maxHeight 0.3s; }
    .drawer-arcade-style .__drawer-navigation select.form-control {
      width: 108px;
      font-family: "WhitneyBook", serif;
      font-size: 10px;
      font-size: 1.6em;
      color: #666666;
      border: 1px solid #858585;
      height: 35px;
      line-height: 35px;
      border-radius: 0; }
    .drawer-arcade-style .__drawer-navigation .select2-container--default .select2-selection--single {
      background-color: #fff;
      border: 1px solid #858585;
      border-radius: 0; }
    .drawer-arcade-style .__drawer-navigation .select2-container .select2-selection--single {
      height: 35px; }
    .drawer-arcade-style .__drawer-navigation .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-family: "WhitneyBook", serif;
      color: #666;
      line-height: 33px;
      font-size: 10px;
      font-size: 1.6em; }
    .drawer-arcade-style .__drawer-navigation .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 10px;
      padding-right: 20px; }
    .drawer-arcade-style .__drawer-navigation .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 31px;
      position: absolute;
      top: 1px;
      right: 10px;
      width: 20px; }
    .drawer-arcade-style .__drawer-navigation .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border: none;
      font-family: 'AS-icon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #666666;
      font-size: 10px;
      font-size: 0.6em; }
      .drawer-arcade-style .__drawer-navigation .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
        content: "\e606"; }

@media (max-width: 480px) {
  .drawer-right .drawer-main {
    right: -100%; } }

.drawer-overlay-upper {
  background-color: #fff;
  opacity: 0.3; }
